body{
    padding: 4.5em 0 !important;    
}
a{
    text-decoration: none;
    cursor: pointer;
}
a:hover{
    text-decoration: none;
}

.h-490{
    height: 490px !important;
}

.top-banner-left{
    min-height: 600px;
    max-height: 600px; 
    overflow: hidden;
}

.top-banner-right{
    min-height: 600px;
    max-height: 600px;
    overflow: hidden;
}

.flex-center{
    display: flex;
    align-items: center;
}

.flex-center{
    justify-content: center;
}

.text-center{
    text-align: center;
}

.text-left{
    text-align: left;
}

.text-right{
    text-align: right;
}

#Login{
    padding: 5px 10px !important;
}

#Login a{
    line-height: normal;
}

#Login:hover{
    color: #fff;
    background: #32C6E4;
    border: 1px solid #32C6E4;
}

.chatholder .titlecontainers {
    float: left;
}

.leftercontainer .chatimageholder{
    margin-left: auto;
}

.gallerys{
    overflow: hidden;
}


/* @media 1920 */
@media screen and (max-width: 1920px) and (min-width:1601px) {
    .app-header{
        width: 100%;
        float: left;
        min-height: 74px;
    }
    .app-content{
        width: 100%;
        float: left;
    }
    .app-footer{
        width: 100%;
        float: left;
    }
}