body{
    padding: 4.5em 0 !important;    
}
a{
    text-decoration: none;
    cursor: pointer;
}
a:hover{
    text-decoration: none;
}

.h-490{
    height: 490px !important;
}

.post-title.white{
    color: #fff;
}

.default-btn-group a{
    font-size: large;
    font-weight: 400;
    color: #77869A;
    margin: 0 5px;
}

.default-btn-group a:hover{
    color: #1dc8cd;
}

.default-btn-group a i{
    font-size: large;
}

.top-banner-left{
    min-height: 600px;
    max-height: 600px; 
    overflow: hidden;
}

.top-banner-right{
    min-height: 600px;
    max-height: 600px;
    overflow: hidden;
}

.flex-center{
    display: flex;
    align-items: center;
}

.flex-center{
    justify-content: center;
}

.right{
    float: right;
    margin-left: auto;
}

.text-center{
    text-align: center;
}

.text-left{
    text-align: left;
}

.text-right{
    text-align: right;
}

#Login{
    padding: 5px 10px !important;
}

#Login a{
    line-height: normal;
}

#Login:hover{
    color: #fff;
    background: #32C6E4;
    border: 1px solid #32C6E4;
}

.chatholder .titlecontainers {
    float: left;
}

.leftercontainer .chatimageholder{
    margin-left: auto;
}

.gallerys{
    overflow: hidden;
}

.post-request.modal_title .ui-select-bootstrap{
    width: auto;
    float: right;
    min-width: 70%;
    margin-left: auto;
 }
 
 .post-request.modal_title label.title{
    color: #fff;
    font-size: 12px;
    float: left;
 }


.todo-bottom-btn{
    display: flex;
    align-items: center;
    min-height: 50px;
    justify-content: space-between;
}

.todo-bottom-btn .right-btn a{
    color: #77869A;
}

.todo-bottom-btn .right-btn a:hover i{
    color: #32C6E4;
}


/* @media 1920 */
@media screen and (max-width: 1920px) and (min-width:1601px) {
    .app-header{
        width: 100%;
        float: left;
    }
    .app-content{
        width: 100%;
        float: left;
    }
    .app-footer{
        width: 100%;
        float: left;
    }
}

.championship{
    display: inline-flex;
    align-items: center;
}
.champion-img{
    height: 25px;
    width: 25px;
}
