   <div class="requestformcontent">
      <div class="titlecontainer">
         <div class="leftercontainer col-md-12 nopadding" ng-if="(user.id == ResponseData.owner.id) && (!ResponseData.isreject)">
            <div class="float-rt closeb" ng-click="closepopoverItem();"><img src="img/closebutton.png"></div>
            <div class="subjecttitle"> YOU’VE HAVE BEEN COMMISSIONED</div>
            <div class="subjectsubtitle"> <a class="uppercase">{{ResponseData.buyer.username}}</a> HAS REQUESTED FOR YOUR SERVICE</div>
         </div>

         <div class="leftercontainer col-md-12 nopadding" ng-if="(user.id == ResponseData.buyer.id) && (!ResponseData.isreject)">
            <div class="float-rt closeb" ng-click="closepopoverItem();"><img src="img/closebutton.png"></div>
            <div class="subjecttitle"> SELLER REPLIED</div>
            <div class="subjectsubtitle"> <a class="uppercase">{{ResponseData.owner.username}}</a> HAS BARGAINED FOR YOUR REQUEST</div>
         </div>
      </div>
      <div>
         <div class="lettercontainer">
            <div class="letterinnercontainer" ng-if="!ResponseData.showdetails">
               <p><b style="font-weight: bold;">Hello {{ResponseData.owner.username}}</b><br><br>
                  You have been commisioned for your services by {{ResponseData.buyer.username}}. Please accept this job offer if you agree to the <a>Tripartite Standard Agreement</a> to protect both parties against any issues in the future. Read for more info <a>here.</a>
                  <br><br>
                  If you have any questions, please visit the seller page or chat with him/her directly. We offer detailed questions and answers for buyers and sellers, along with the ability to submit support tickets if needed.
                  <br><br>
                  Please acknowledge all the following items to continue:
               <div class="pretty p-image p-plain">
                  <input type="checkbox" name="showmap" ng-true-value="1" ng-false-value="0" ng-model="ResponseData.agreeterms" class="ng-pristine ng-untouched ng-valid" tabindex="0" aria-checked="false" aria-invalid="false">
                  <div class="state">
                     <i class="fa fa-check" aria-hidden="true"></i>
                     <label>You have the understood the tripartite agreement according to the country laws
                     </label>
                  </div>
               </div>
               <div class="pretty p-image p-plain">
                  <input type="checkbox" name="showmap" ng-true-value="1" ng-false-value="0" ng-model="ResponseData.agreeinvoice" class="ng-pristine ng-untouched ng-valid" tabindex="0" aria-checked="false" aria-invalid="false">
                  <div class="state">
                     <i class="fa fa-check" aria-hidden="true"></i>
                     <label>The quotation or invoice send by seller is a written contracts acknowledged by both parties
                     </label>
                  </div>
               </div>
               <div class="pretty p-image p-plain">
                  <input type="checkbox" name="showmap" ng-true-value="1" ng-false-value="0" ng-model="ResponseData.agreenegotiation" class="ng-pristine ng-untouched ng-valid" tabindex="0" aria-checked="false" aria-invalid="false">
                  <div class="state">
                     <i class="fa fa-check" aria-hidden="true"></i>
                     <label>Buyer and seller has the rights to amend or negotiate the quotation before the deal is made.
                     </label>
                  </div>
               </div>
               <div popover="You Need to agree tripartite agreement !" popover-enable="!ResponseData.agreeterms" popover-trigger="mouseenter" popover-placement="right" popover-class="requesterror">
               <button class="viewdetails" type="button" ng-disabled="!ResponseData.agreeterms" ng-click="ResponseData.showdetails = !ResponseData.showdetails">View full details</button>
            </div>
               </p>
            </div>
            <div data-ng-include="'tpl/blocks/modalcontent/productinfo.html'" ng-if="ResponseData.showdetails">
         </div>
         
         <div class="clear"></div>
      </div>
      <div class="modalfooter">
         <span class="submitcontent">*By confirming it means you agree with Collabro’s <a>terms and conditions.</a> Alternatively you can check with the seller first.</span>
         <span class="chatb" ng-click="gotoChat(ResponseData.productid)"><i class="fa fa-phone-square" aria-hidden="true"></i>CHAT</span>
         <div class="btn-group dropdown dropup">
            <button class="actionb" data-toggle="dropdown" aria-expanded="false" ng-if="ResponseData.status == 0 && !ResponseData.iscounter && !ResponseData.isreject&& ResponseData.isnew" popover="You Need to agree TSA Protection rules!" popover-trigger="mouseenter" popover-class="responseagreementerror" popover-placement="right"  popover-enable="!ResponseData.isaccept">Action <i class="fa fa-angle-down" aria-hidden="true"></i></button>
            <!-- <button class="btn btn-default" ><span class="caret"></span></button> -->
            <ul class="dropdown-menu" ng-if="ResponseData.status == 0 && !ResponseData.iscounter && !ResponseData.isreject">
               <li ng-if="!ResponseData.isreject&&!ResponseData.iscounter"><a ><button ng-disabled="!ResponseData.isaccept" type="button" class="actionb accept" ng-click="proceedData()">Accept Offer</button></a></li>
               <li ng-if="ResponseData.iscounter"><a ><button type="button" class="actionb accept" ng-disabled="!ResponseData.isaccept" ng-click="proceedBargain()">Proceed</button></a></li>
               <li ng-if="user.id == ResponseData.commisionitem.productdetails.ownerid"><a ><button type="button" class="actionb reject" ng-click="rejectOffer();" ng-disabled="!ResponseData.isaccept">Reject Offer</button></a></li>
               <li ng-if="!ResponseData.isreject && !ResponseData.commisionitem.productdetails.hasbargain&&!ResponseData.iscounter"><a ><button type="button" class="actionb counter" ng-click="ResponseData.iscounter = !ResponseData.iscounter" ng-disabled="!ResponseData.isaccept">Counter Offer</button></a></li>
            </ul>

            <button class="actionb accept" ng-if="ResponseData.iscounter" ng-click="proceedBargain()">Proceed </button>

            <button class="actionb" ng-if="ResponseData.status != 0||!ResponseData.isnew"  ng-click="closepopoverItem();">Close </button>
         </div>
      </div>
   </div>
</div>