<div class="titlecontainer">
   <div class="leftercontainer col-md-12 nopadding" ng-if="ResponseData.status == 1">
      <div class="float-rt closeb" ng-click="closepopoverItem();"><img src="img/closebutton.png"></div>
      <div class="subjecttitle"> CONGRATULATIONS!</div>
      <div class="subjectsubtitle">Project accepted between <a>{{ResponseData.buyer.username}}</a> (Buyer)/ <a>{{ResponseData.owner.username}}</a> (Seller) </div>
   </div>
   <div class="leftercontainer col-md-12 nopadding" ng-if="ResponseData.status == 2">
      <div class="float-rt closeb" ng-click="closepopoverItem();"><img src="img/closebutton.png"></div>
      <div class="subjecttitle rejecttitle">OFFER REJECTED</div>
      <div class="subjectsubtitle">Project rejected by <a ng-if="ResponseData.ownercommisionstatus == 2">{{ResponseData.buyer.username}}</a> due to <a>{{ResponseData.reason}}</a></div>
   </div>
</div>
<div class="modal-body">
   <div class="lettercontainer">
      <div class="letterdetailscontainer letterdetailscontainernew">
         <div class="leftimage">
            <div class="conta">
               <slick data="ResponseData.commisionitem.productdetails.images" infinite="false" init-onload="true" settings="productslick" ng-if="!formLoading" class="slider-for">
                  <div class="itemslider" ng-repeat="(key,image) in ResponseData.commisionitem.productdetails.images">
                     <div class="preview-img" background-image="{{IMGURL}}{{image.file}}" ng-if="image.filetype == 1"></div>
                     <span ng-if="image.filetype == 2">
                        <anguvideo ng-model="image.file" width="100%" height="auto" ng-if="image.file&&!image.file.includes('soundcloud')"></anguvideo>
                        <sound-cloud-player url="{{image.file}}" ng-if="image.file&&image.file.includes('soundcloud')"></sound-cloud-player>
                     </span>
                  </div>
               </slick>
            </div>
            <div class="conta">
               <div class="thumbslider">
                  <slick data="ResponseData.commisionitem.productdetails.images" infinite="false" init-onload="true" settings="mobilethumbslick" ng-if="!formLoading" class="slider-nav">
                     <div class="thumbholder" ng-repeat="(key,image) in ResponseData.commisionitem.productdetails.images">
                        <div class="slidee" background-image="{{image.filetype == 1 ? IMGURL : ''}}{{image.thumbnail}}"></div>
                     </div>
                  </slick>
               </div>
            </div>
         </div>
         <div class="rightimage" >
            <div class="infodiv">
               <!-- info start -->
               <div class="common-itmes">
                  <div class="conta ">
                     <div class="details detailstitle text-bold">{{ResponseData.commisionitem.productdetails.title}}</div>
                  </div>
                  <div class="conta marginer">
                     <div class="details detailsdescription">{{ResponseData.commisionitem.productdetails.description}}
                     </div>
                  </div>
                  <div class="conta marginer">
                     <!-- <div class="details detailslist" ng-if="!ResponseData.iscounter">
                        <ul>
                           <li ng-repeat="(key,feature) in ResponseData.commisionitem.productdetails.features" ng-if="feature.feature"><i class="fa fa-check-circle"></i> {{feature.feature}}</li>
                        </ul>
                        </div>
                        <div class="listcontainer" ng-if="ResponseData.iscounter">
                        <ul class="itemholder" style="height: 68px;overflow-y: auto;">
                           <li class="checlistfont" ng-repeat="(no,feature) in ResponseData.commisionitem.productdetails.features" ng-if="feature.feature"><i class="green fa fa-check-circle"></i> {{feature.feature}} <i class="pink fa fa-minus-circle cursor" ng-click="removeresponseFeature(no)"></i></li>
                        </ul>
                        <div class="buttonholder">
                           <input style="width: 84%;" type="text" name="feature" placeholder="Speacialization of your service" ng-model="ResponseData.featuretext" my-enter="addresponseFeature()" maxlength="35"><button type="button" ng-click="addresponseFeature()"> Add </button>
                        </div>
                        </div> -->
                  </div>
                  <div class="conta marginer">
                     <div ng-if="ResponseData.commisionitem.productdetails.type == 'Event' || ResponseData.commisionitem.productdetails.type == 'Rental'">
                        <div style="float: left;margin-right: 90px;margin-top: 20px;" ng-if="ResponseData.commisionitem.productdetails.startdate">
                           <div>Start Date <span class="text-danger" ng-if="startdateerror"> (Required)</span></div>
                           <div class="input-append date form_datetime" style="position: relative;">
                              <div class="datediv" style="background: rgb(126, 142, 164);color:#fff;border: 0px;height: 30px;">
                                 <span class="add-onnew"><i class="fa fa-calendar"></i> {{ResponseData.commisionitem.productdetails.startdate | date:"dd-MM-yyyy"}}</span>
                              </div>
                           </div>
                           <div class="clear"></div>
                        </div>
                        <div style="float: left;margin-right: 90px;margin-top: 20px;" ng-if="ResponseData.commisionitem.productdetails.enddate">
                           <div>End Date <span class="text-danger" ng-if="startdateerror"> (Required)</span></div>
                           <div class="input-append date form_datetime" style="position: relative;">
                              <div class="datediv" style="background: rgb(126, 142, 164);color:#fff;border: 0px;height: 30px;">
                                 <span class="add-onnew"><i class="fa fa-calendar"></i> {{ResponseData.commisionitem.productdetails.enddate | date:"dd-MM-yyyy"}}</span>
                              </div>
                           </div>
                           <div class="clear"></div>
                        </div>
                        <div style="float: left;margin-right: 50px;margin-top: 20px;" ng-if="ResponseData.commisionitem.productdetails.starttime">
                           <div>Start Time <span class="text-danger" ng-if="startdateerror"> (Required)</span></div>
                           <div class="input-append date form_datetime" style="position: relative;">
                              <div class="datediv" style="background: rgb(126, 142, 164);color:#fff;border: 0px;height: 30px;width:72px;">
                                 <span class="add-onnew"><i class="fa fa-clock-o"></i> {{ResponseData.commisionitem.productdetails.starttime | date:"HH:MM"}}</span>
                              </div>
                           </div>
                           <div class="clear"></div>
                        </div>
                        <div style="float: left;margin-right: 0px;margin-top: 20px;" ng-if="ResponseData.commisionitem.productdetails.endtime">
                           <div>End Time <span class="text-danger" ng-if="startdateerror"> (Required)</span></div>
                           <div class="input-append date form_datetime" style="position: relative;">
                              <div class="datediv" style="background: rgb(126, 142, 164);color:#fff;border: 0px;height: 30px;width:72px;">
                                 <span class="add-onnew"><i class="fa fa-clock-o"></i> {{ResponseData.commisionitem.productdetails.endtime | date:"HH:MM"}}</span>
                              </div>
                           </div>
                           <div class="clear"></div>
                        </div>
                     </div>
                     <div ng-class="{'pull-right': ResponseData.commisionitem.productdetails.type == 'Rental' || ResponseData.commisionitem.productdetails.type == 'Event'}" style="    margin-right: -6px;margin-top: 41px;>
                        <div class="products">
                        <!-- <div>Budget</div> -->
                        <div class="price-box">
                           <span class="per_code" ng-if="ResponseData.commisionitem.productdetails.price > 0">$ </span>
                           <span class="per_price">{{ResponseData.commisionitem.productdetails.price ? ResponseData.commisionitem.productdetails.price: 'Free'}}</span>
                           <span class="per_time" ng-if="ResponseData.commisionitem.productdetails.price > 0 && ResponseData.commisionitem.productdetails.type!='Shop'">Per {{ResponseData.commisionitem.productdetails.periodtype}}</span>
                        </div>
                     </div>
                     <div class="clear"></div>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>
   <div class="clear"></div>
</div>
</div>
<div class="modalfooter">
   <span class="submitcontent">*By confirming it means you agree with Collabro’s <a>terms and conditions.</a> Alternatively you can check with the seller first.</span>
   <span class="chatb" ng-click="gotoChat(ResponseData.commisionitem.productdetails.id)"><i class="fa fa-phone-square" aria-hidden="true"></i>CHAT</span>
   <div class="btn-group dropdown dropup">
      <button class="actionb" ng-if="ResponseData.status != 0" ng-click="closepopoverItem();">Close </button>
   </div>
</div>