<form class="form-horizontal" name="addForm" novalidate ng-submit="addData(addForm);">
   <div class="titlecontainer" style="margin-bottom: 0px!important;">
      <div class="leftercontainer col-md-12 nopadding" ng-if="(ResponseData.isreject)">
         <div class="float-rt closeb" ng-click="closepopoverItem();"><img src="img/closebutton.png"></div>
         <div class="subjecttitle rejecttitle">REJECT OFFER</div>
      </div>
   </div>
   <div class="modal-body">
      <div class="lettercontainer">
         <div class="letterdetailscontainer letterdetailscontainernew"  ng-if="ResponseData.isreject">
            <div class="leftimage" style="width: 500px !important;padding-left: 0px!important;">
               <div class="rectdetails">You have rejected the job offer from the client. <br>
                  Please indicate the reason for your decision. Thank you.
               </div>
               <div class="cancelcontainer">
                  <div  class="canceltitle">Reason for rejection <span class="text-danger" ng-if="productData.status == 2 && !ResponseData.reason"> (Select reason)</span></div>
                  <div  class="cancelinnerconatiner">
                     <ul class="canceloption">
                        <li>
                           <div class="pretty p-default p-round">
                              <input type="radio" name="reason" ng-model="ResponseData.reason" value="Unable to meet Buyer request">
                              <div class="state">
                                 <label>&nbsp;</label>
                              </div>
                           </div>
                           Unable to meet Buyer request
                        </li>
                        <li>
                           <div class="pretty p-default p-round">
                              <input type="radio" name="reason" ng-model="ResponseData.reason" value="Overwhelmed with Projects">
                              <div class="state">
                                 <label>&nbsp;</label>
                              </div>
                           </div>
                           Overwhelmed with Projects
                        </li>
                        <li>
                           <div class="pretty p-default p-round">
                              <input type="radio" name="reason" ng-model="ResponseData.reason" value="Going on vacation">
                              <div class="state">
                                 <label>&nbsp;</label>
                              </div>
                           </div>
                           Going on vacation
                        </li>
                     </ul>
                  </div>
               </div>
            </div>
            <div class="rightimage" style="width: 329px !important;min-height: 350px !important;">
               <div class="conta marginer" style="margin-top: 90px;">
                  <label>Other Comments (Optional)</label>
                  <div class="">
                     <textarea row="10" name="comments" placeholder="This is where you can put a description of your item. It can be a product to sell, portfolio work or services to hire or to rent." style="height:173px;width:316px;" ng-model="ResponseData.comments" required ></textarea>
                  </div>
               </div>
            </div>
         </div>
      </div>
      <div class="clear"></div>
   </div>
   <div class="modalfooter">
      <span class="submitcontent">*By confirming it means you agree with Collabro’s <a>terms and conditions.</a> Alternatively you can check with the seller first.</span>
      <span class="chatb" ng-click="gotoChat(ResponseData.productid)"><i class="fa fa-phone-square" aria-hidden="true"></i>CHAT</span>
      <div class="btn-group dropdown dropup">
         <button class="actionb reject" ng-click="rejectOffer();">Reject Offer</button>
      </div>
   </div>
</form>