<div class="signupoverlay" ng-click="closePopover()" ng-if="(issignup||issignin||isforgotpw)"></div>
<div ng-controller="HomeCtrl">
    <div class="profile" id="home" ng-if="!formLoading">
        <ng-skitter items="photos" options="skitterOption">
               <div class="intro-text">
                  <h2>{{item.title}}</h2>
                  <p>{{item.description}}</p>
                  <a class="btn-get-started scrollto">{{item.button}}</a>
               </div>
        </ng-skitter>
    </div>

    <!-- About  -->
    <div class="section-con" id="aboutus">
        <div class="custom-container">
            <div ng-bind-html=""></div>
        </div>
    </div>

    <!-- Features -->
    <div class="section-con1" id="features">
        <div class="custom-container">
            <div class="row">
                <div class="col-lg-12 col-md-12 text-center">
                    <h3>Features</h3>
                    <p>Why choose us</p>
                </div>
            </div>
            <div class="row mt-50">
                <div class="col-lg-3 col-md-3 text-center">
                    <div class="icon-holder">
                        <i class="fa fa-cogs"></i>
                    </div>
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s</p>
                </div>
                <div class="col-lg-3 col-md-3 text-center">
                    <div class="icon-holder">
                        <i class="fa fa-cogs"></i>
                    </div>
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s</p>
                </div>
                <div class="col-lg-3 col-md-3 text-center">
                    <div class="icon-holder">
                        <i class="fa fa-cogs"></i>
                    </div>
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s</p>
                </div>
                <div class="col-lg-3 col-md-3 text-center">
                    <div class="icon-holder">
                        <i class="fa fa-cogs"></i>
                    </div>
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s</p>
                </div>
            </div>
        </div>
    </div>

    <!-- Features -->
    <div class="section-con" id="benefits">
        <div class="custom-container">
            <div class="row">
                <div class="col-lg-12 col-md-12 text-center">
                    <h3>Benifits</h3>
                    <p>Why choose us</p>
                </div>
            </div>
            <div class="row mt-50">
                <div class="col-lg-3 col-md-3 text-center">
                    <div class="icon-holder">
                        <i class="fa fa-cogs"></i>
                    </div>
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s</p>
                </div>
                <div class="col-lg-3 col-md-3 text-center">
                    <div class="icon-holder">
                        <i class="fa fa-cogs"></i>
                    </div>
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s</p>
                </div>
                <div class="col-lg-3 col-md-3 text-center">
                    <div class="icon-holder">
                        <i class="fa fa-cogs"></i>
                    </div>
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s</p>
                </div>
                <div class="col-lg-3 col-md-3 text-center">
                    <div class="icon-holder">
                        <i class="fa fa-cogs"></i>
                    </div>
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s</p>
                </div>
            </div>
        </div>
    </div>
</div>