<div class="signupoverlay" ng-click="closePopover()" ng-if="(issignup||issignin||isforgotpw)"></div>
<div ng-controller="HomeCtrl" class="homebanner">
    <div class="profile" id="home" ng-if="!formLoading">
        <ng-skitter items="photos" options="skitterOption">
               <div class="intro-text">
                  <h2>{{item.title}}</h2>
                  <p>{{item.description}}</p>
                  <a class="btn-get-started scrollto">{{item.button}}</a>
               </div>
        </ng-skitter>
    </div>

    <!-- About  -->
    <div class="section-con" id="aboutus">
        <div class="custom-container">
        <div ng-bind-html="settings.aboutus_content"></div>
        </div>
    </div>

    <!-- Features -->
    <div class="section-con1" id="features">
        <div class="custom-container">
            <div ng-bind-html="settings.features_content"></div>
        </div>
    </div>

    <!-- Features -->
    <div class="section-con" id="benefits">
        <div class="custom-container">
            <div ng-bind-html="settings.benefits_content"></div>
        </div>
    </div>
</div>