.ui-select-bootstrap{
    .selected-item{
        padding: 10px 15px !important;
    }
    .ui-select-choices-row{
        a{
            padding-left: 15px !important;
        }
    }
}
.custom-modal-title{
    width: 100%;
    .ui-select-bootstrap{
        .selected-item{
            padding: 10px !important;
        }
        .ui-select-choices-row{
            a{
                padding-left: 35px !important;
            }
        }
    }
}

.caret{
    width: 12px;
    height: 7px;
    border: 0px;
    background: url(../img/down-arrow.png) no-repeat;
    top: 50% !important;
    transform: translateY(-50%) !important;
}