.topbar{
    width: 100%;
    float: left;
    padding: 25px;
    height: 80px;
    @include box-shadow($box-shadow-default);
    background: $white;
    display: flex;
    align-items: center;
    justify-content: space-between;
}