.card{
    width: 100%;
    float: left;
    @include box-shadow($box-shadow-card);
    @include border-radius(4px);
    background: $white;
    margin-bottom: 15px;
    position: relative;
    .card-img{
        width: 100%;
        float: left;
        img{
            width: auto;
            max-width: 100%;
            @include border-radius(4px 4px 0 0)
        }
    }
    .card-content{
        width: 100%;
        float: left;
        padding: 15px;
        h3{
            font-size: $font-xlx;
            color: $secondary-text;
            margin-top: 0px;
            margin-bottom: 15px;
        }
        .card-info{
            width: 100%;
            float: left;
            display: flex;
            align-items: baseline;
            .price{
                float: left;
                font-size: $font-price;
            }
            .price-sub{
                float: left;
                font-size: $font-l;
                color: $secondary-text;
                margin-left: 10px;
            }
        }
    }
    .card-footer{
        width: 100%;
        float: left;
        display: flex;
        align-items: center;
        justify-content: space-around;
        padding: 15px 0;
        border: 1px solid $border;
        @include border-radius(0 0 4px 4px);
        a{
            color: $secondary-text;
            i{
                font-size: $font-large;
            }
            &:hover{
                color: $default;
            }
        }
    }
    .hover-icon{
        position: absolute;
        right: 20px;
        top: 20px;
        width: 68px;
        height: 68px;
        @include border-radius(50%);
        background: $default;
        color: $white;        
        display: none;
        font-size: $font-large;
        transition: all 0.2s;
        &.active{
            @extend.flex-center;
        }
    }
    &:hover{
        .hover-icon{
            @extend .flex-center;
        }
    }
}

.table-card{
    @extend .wd-100;
    border: 1px solid $border;
    @include border-radius(4px);
    @include box-shadow($box-shadow-default);
    padding: 12px;
    background: $white;
    margin-bottom: 15px;
    .table-img{
        width: 80px;
        float: left;
    }
    .table-content{
        width: calc(100% - 300px);
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        .table-col{
            width: auto;
            float: left;
            min-width: 25%;
            max-width: 50%;
            padding: 0 15px;
            p{
                margin-bottom: 0px;
            }
            h5{
                font-size: $font-r;
                color: $black;
            }
            span{
                font-size: $font-s;
                color: $secondary-text;
            }
            ul{
                margin: 0;
                padding: 0;
                width: 100%;
                float: left;
                padding-left: 15px;
                li{
                    width: 100%;
                    float: left;
                    a{
                        width: 100%;
                        float: left;
                        color: $black;
                    }
                }
            }
        }      
        .table-col1{
            width: 100%;
            float: left;
            display: flex;
            align-items: center;
            i{
                font-size: $font-xlx;
                float: left;
                margin-right: 10px;
            }
            h5{
                float: left;
                font-size: $font-r;
            }
        }  
    }
    .table-option{
        width: 180px;
        float: right;
        display: flex;
        justify-content: space-around;
        align-items: center;
        a{
            color: $secondary-text;
            font-size: $font-xxl;
            &:hover{
                color: $default;
            }
            &.option-img{
                width: auto;
                max-width: 80px;
                img{
                    width: auto;
                    max-width: 100%;
                }
            }
        }
        &.flex-right{
            a{
                float: right;
                margin-left: auto;
                margin-right: 20px;
            }
        }
    }
    .full-col{
        width: calc(100% - 170px);
        display: block;
        color: $default;
        font-size: $font-s;
        font-weight: $font-medium;
        padding-left: 115px;
    }
}