<div>
   <form class="form-horizontal" name="broadcastForm" novalidate ng-submit="addbroadCast(broadcastForm);">
      <div class="titlecontainer mob-titlecontainer">
         <div class="leftercontainer">
            <label>Type </label>
            <select class="form-control" name="type" ng-model="broadcastData.category" ng-options="type as type for type in servicetypes" required ng-change="resetFeedItems()">
               <option value="">Select Type</option>
            </select>
            <span class="text-danger cat-error" ng-if="!broadcastData.category"> (Please Choose)</span>
            
         </div>
      </div>
      <div class="modal-body">
        
         <div class="rightimage">
            <div class="infodiv">
               <div class="common-itmes">
                  <div class="conta ">
                     Title <span class="text-danger" ng-if="titleerror"> (Enter Feed Title)</span>
                     <input type="text" name="title" placeholder="e.g. Title of the feed that you want to send to your friends" ng-model="broadcastData.title" required ng-disabled="!broadcastData.category" ng-click="closepopover()" maxlength="100">
                     <div class="pinklimit">{{broadcastData.title.length ? broadcastData.title.length : 0 }} / 100 Char</div>
                  </div>
                  <div class="conta marginer">
                     Feed Description <span class="text-danger" ng-if="descriptionerror"> (Enter Feed Description)</span>
                     <textarea row="10" name="description" placeholder="This is where you can put a description of your feed." style="height: 170px;" ng-model="broadcastData.description" required ng-disabled="!broadcastData.category" maxlength="1000"></textarea>
                     <div class="pinklimit">{{broadcastData.description.length ? broadcastData.description.length : 0 }} / 1000 Char</div>
                  </div>
               </div>
            </div>
         </div>
         <div class="clear"></div>
         <div class="modal-footer">
            <button type="button" class="btn btn-default cancel" ng-click="closebroadcastModal();">Cancel</button>
            <button type="submit" class="btn btn-primary publish" ng-if="!isedit" button-spinner="loading" ng-disabled="loading||!broadcastData.category">Publish Item</button>
         </div>
   </form>
   </div>